In [1]:
import pandas as pd

In [2]:
%time points = pd.read_csv("data/fixed.csv")

Wall time: 19.7 s

In [4]:
points.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2997977 entries, 0 to 2997976
Data columns (total 14 columns):
0                                     int64
 14                                   int64
 329                                  int64
 0                                    int64
 362                                  int64
 0.1                                  int64
 0.2                                  int64
 0.3                                  int64
 5                                    int64
 14-16\20170817012709_100.h264.txt    object
 2017-08-17 01:27:09                  object
 01:27:09                             object
 0:00:00                              object
 0.0604166666667                      float64
dtypes: float64(1), int64(9), object(4)
memory usage: 763.3 MB

In [5]:
len(points)

2997977

In [6]:
points.describe()

,0,14,329,0,362,0.1,0.2,0.3,5,0.0604166666667
count,2.997977e+06,2.997977e+06,2.997977e+06,2.997977e+06,2.997977e+06,2.997977e+06,2997977.0,2997977.0,2.997977e+06,2.997977e+06
mean,8.289600e+03,2.730163e+02,1.480890e+02,5.053651e+01,4.675813e+07,1.158957e+02,0.0,0.0,7.658549e+00,5.179974e-01
std,5.189149e+03,1.609973e+02,7.650769e+01,8.449938e+01,3.391170e+07,1.502103e+02,0.0,0.0,1.366050e+01,2.580195e-01
min,0.000000e+00,3.000000e+00,3.000000e+00,0.000000e+00,3.620000e+02,0.000000e+00,0.0,0.0,1.000000e+00,0.000000e+00
25%,3.712000e+03,1.440000e+02,9.500000e+01,1.200000e+01,1.419073e+07,1.600000e+01,0.0,0.0,2.000000e+00,3.541667e-01
50%,8.119000e+03,2.690000e+02,1.340000e+02,2.800000e+01,4.510348e+07,5.900000e+01,0.0,0.0,3.000000e+00,5.277778e-01
75%,1.263600e+04,4.020000e+02,2.050000e+02,5.100000e+01,5.399656e+07,1.620000e+02,0.0,0.0,6.000000e+00,7.138889e-01
max,1.847600e+04,6.370000e+02,3.570000e+02,6.430000e+02,1.265195e+08,1.977000e+03,0.0,0.0,1.150000e+02,9.993056e-01

In [ ]:
points