In [2]:
%matplotlib inline
import pandas as pd
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [4]:
%%time
titles = pd.read_csv('data/fixed.csv')
titles.head(10)

Wall time: 17.1 s

In [3]:
%matplotlib inline

import pandas as pd
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [11]:
%%time
col_names=["frame", "x", "y", "obj","size","seq","tbd1","tbd2","tbd3","filename","start","path_time","delta_time","tbd4"]

df=pd.read_csv('data/fixed.csv',usecols= ["frame", "x", "y", "obj","size","seq","filename","start","path_time","delta_time"],  names = col_names,parse_dates=['start'])

Wall time: 14.9 s

In [7]:
%%time
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2997979 entries, 0 to 2997978
Data columns (total 10 columns):
frame         int64
x             int64
y             int64
obj           int64
size          int64
seq           int64
filename      object
start         datetime64[ns]
path_time     object
delta_time    object
dtypes: datetime64[ns](1), int64(6), object(3)
memory usage: 554.6 MB
Wall time: 957 ms

In [12]:
df.head(10)

,frame,x,y,obj,size,seq,filename,start,path_time,delta_time
0,0,14,329,0,362,0,14-16\20170817012709_100.h264.txt,2017-08-17 01:27:09,01:27:09,0:00:00
1,0,4,291,1,362,0,14-16\20170817012709_100.h264.txt,2017-08-17 01:27:09,01:27:09,0:00:00
2,0,629,7,2,362,0,14-16\20170817012709_100.h264.txt,2017-08-17 01:27:09,01:27:09,0:00:00
3,0,253,4,3,362,0,14-16\20170817012709_100.h264.txt,2017-08-17 01:27:09,01:27:09,0:00:00
4,0,185,4,4,362,0,14-16\20170817012709_100.h264.txt,2017-08-17 01:27:09,01:27:09,0:00:00
5,1700,5,102,5,362,0,14-16\20170817012709_100.h264.txt,2017-08-17 01:27:09,01:28:17,0:01:08
6,1701,6,102,5,362,1,14-16\20170817012709_100.h264.txt,2017-08-17 01:27:09,01:28:17,0:01:08
7,1702,6,102,5,362,2,14-16\20170817012709_100.h264.txt,2017-08-17 01:27:09,01:28:17,0:01:08
8,1703,7,102,5,362,3,14-16\20170817012709_100.h264.txt,2017-08-17 01:27:09,01:28:17,0:01:08
9,1704,9,102,5,362,4,14-16\20170817012709_100.h264.txt,2017-08-17 01:27:09,01:28:17,0:01:08

In [15]:
p=df
p.groupby(p.start).size()

start
2017-08-17 01:27:09      7311
2017-08-17 01:42:25      9902
2017-08-17 01:57:38    120780
2017-08-17 02:12:50      5034
2017-08-17 02:28:03      4961
2017-08-17 02:43:14      4042
2017-08-17 02:58:24      9170
2017-08-17 03:13:37      6694
2017-08-17 03:28:49      6448
2017-08-17 03:44:03      2371
2017-08-17 03:59:13      2392
2017-08-17 04:14:23      2465
2017-08-17 04:29:40      2730
2017-08-17 04:45:12      2562
2017-08-17 05:00:24       627
2017-08-17 05:15:36      2908
2017-08-17 05:30:48      1728
2017-08-17 05:46:01      1619
2017-08-17 06:01:15       330
2017-08-17 06:16:30       712
2017-08-17 06:31:49       503
2017-08-17 06:47:02         5
2017-08-17 07:02:14         9
2017-08-17 07:17:25         3
2017-08-17 07:32:37       859
2017-08-17 07:48:15       808
2017-08-17 08:03:27         5
2017-08-17 08:18:51         5
2017-08-17 08:34:05         4
2017-08-17 08:49:19         3
                        ...
2017-08-24 08:18:53      5519
2017-08-24 08:33:08     26717
2017-08-24 08:34:05      2354
2017-08-24 08:48:19     21960
2017-08-24 09:03:34     15062
2017-08-24 09:18:50      8205
2017-08-24 09:33:59      6465
2017-08-24 09:49:08      8136
2017-08-24 10:04:18      6036
2017-08-24 10:19:27      9373
2017-08-24 10:34:36     10835
2017-08-24 10:49:46     14765
2017-08-24 11:04:55     12385
2017-08-24 11:20:05      8522
2017-08-24 11:35:16      4601
2017-08-24 11:50:30     11360
2017-08-24 12:05:45      5856
2017-08-24 12:20:55     18283
2017-08-24 12:36:04      9447
2017-08-24 12:51:14     11880
2017-08-24 13:06:23     12884
2017-08-24 13:21:33      5010
2017-08-24 13:36:42     10574
2017-08-24 13:51:52      9971
2017-08-24 14:07:03      8742
2017-08-24 14:22:14      5687
2017-08-24 14:37:29      4049
2017-08-24 14:52:44      6584
2017-08-24 15:07:53      2306
2017-08-24 15:23:02      3585
Length: 489, dtype: int64

In [4]:
def mem_usage(pandas_obj):
    if isinstance(pandas_obj,pd.DataFrame):
        usage_b = pandas_obj.memory_usage(deep=True).sum()
    else: # we assume if not a df it's a series
        usage_b = pandas_obj.memory_usage(deep=True)
    usage_mb = usage_b / 1024 ** 2 # convert bytes to megabytes
    return "{:03.2f} MB".format(usage_mb)

In [6]:
cols = ["frame", "x", "y", "obj","size","seq","tbd1","tbd2","tbd3","filename","start","path_time","delta_time","tbd4"]
useful_cols = ["frame", "x", "y", "obj","size","seq","filename","start","path_time","delta_time"]

In [8]:

cols_types = dict({   
    'delta_time': 'object',
    'filename': 'category',
    'frame': 'uint16',
    'obj': 'uint16',
    'path_time': 'object',
    'seq': 'uint16',
    'size': 'uint32',
    'x': 'uint16',
    'y': 'uint16'})

df = pd.read_csv('data/fixed.csv',names=cols,usecols=useful_cols,dtype=cols_types,parse_dates=['start'],infer_datetime_format=True)

In [9]:

df.head()

,frame,x,y,obj,size,seq,filename,start,path_time,delta_time
0,0,14,329,0,362,0,14-16\20170817012709_100.h264.txt,2017-08-17 01:27:09,01:27:09,0:00:00
1,0,4,291,1,362,0,14-16\20170817012709_100.h264.txt,2017-08-17 01:27:09,01:27:09,0:00:00
2,0,629,7,2,362,0,14-16\20170817012709_100.h264.txt,2017-08-17 01:27:09,01:27:09,0:00:00
3,0,253,4,3,362,0,14-16\20170817012709_100.h264.txt,2017-08-17 01:27:09,01:27:09,0:00:00
4,0,185,4,4,362,0,14-16\20170817012709_100.h264.txt,2017-08-17 01:27:09,01:27:09,0:00:00