In [28]:
import pandas as pd
import numpy as np

In [29]:
cols = ["frame", "x", "y", "obj","size","seq","tbd1","tbd2","tbd3","filename","start","path_time","delta_time","tbd4"]
useful_cols = ["frame", "x", "y", "obj","size","seq","filename","start","path_time","delta_time"]

In [30]:
cols_types = dict({   
    'delta_time': 'object',
    'filename': 'category',
    'frame': 'uint16',
    'obj': 'uint16',
    'path_time': 'object',
    'seq': 'uint16',
    'size': 'uint32',
    'x': 'uint16',
    'y': 'uint16'})

In [31]:
%%time
points = pd.read_csv('data/fixed.csv',names=cols,usecols=useful_cols,dtype=cols_types,parse_dates=['start'],infer_datetime_format=True)

Wall time: 25 s

In [6]:
len(points)

2997978

In [13]:
points.head(5)

,frame,x,y,obj,size,seq,filename,start,path_time,delta_time
0,0,14,329,0,362,0,14-16\20170817012709_100.h264.txt,2017-08-17 01:27:09,01:27:09,0:00:00
1,0,4,291,1,362,0,14-16\20170817012709_100.h264.txt,2017-08-17 01:27:09,01:27:09,0:00:00
2,0,629,7,2,362,0,14-16\20170817012709_100.h264.txt,2017-08-17 01:27:09,01:27:09,0:00:00
3,0,253,4,3,362,0,14-16\20170817012709_100.h264.txt,2017-08-17 01:27:09,01:27:09,0:00:00
4,0,185,4,4,362,0,14-16\20170817012709_100.h264.txt,2017-08-17 01:27:09,01:27:09,0:00:00

In [32]:
import numpy as np

In [15]:
points.start.values.astype(np.int64) // 10 ** 9

array([1502933229, 1502933229, 1502933229, ..., 1503588182, 1503588182,
       1503588182], dtype=int64)

In [33]:
points.start.to_timestamp

<bound method Series.to_timestamp of 0         2017-08-17 01:27:09
1         2017-08-17 01:27:09
2         2017-08-17 01:27:09
3         2017-08-17 01:27:09
4         2017-08-17 01:27:09
5         2017-08-17 01:27:09
6         2017-08-17 01:27:09
7         2017-08-17 01:27:09
8         2017-08-17 01:27:09
9         2017-08-17 01:27:09
10        2017-08-17 01:27:09
11        2017-08-17 01:27:09
12        2017-08-17 01:27:09
13        2017-08-17 01:27:09
14        2017-08-17 01:27:09
15        2017-08-17 01:27:09
16        2017-08-17 01:27:09
17        2017-08-17 01:27:09
18        2017-08-17 01:27:09
19        2017-08-17 01:27:09
20        2017-08-17 01:27:09
21        2017-08-17 01:27:09
22        2017-08-17 01:27:09
23        2017-08-17 01:27:09
24        2017-08-17 01:27:09
25        2017-08-17 01:27:09
26        2017-08-17 01:27:09
27        2017-08-17 01:27:09
28        2017-08-17 01:27:09
29        2017-08-17 01:27:09
                  ...
2997948   2017-08-24 15:23:02
2997949   2017-08-24 15:23:02
2997950   2017-08-24 15:23:02
2997951   2017-08-24 15:23:02
2997952   2017-08-24 15:23:02
2997953   2017-08-24 15:23:02
2997954   2017-08-24 15:23:02
2997955   2017-08-24 15:23:02
2997956   2017-08-24 15:23:02
2997957   2017-08-24 15:23:02
2997958   2017-08-24 15:23:02
2997959   2017-08-24 15:23:02
2997960   2017-08-24 15:23:02
2997961   2017-08-24 15:23:02
2997962   2017-08-24 15:23:02
2997963   2017-08-24 15:23:02
2997964   2017-08-24 15:23:02
2997965   2017-08-24 15:23:02
2997966   2017-08-24 15:23:02
2997967   2017-08-24 15:23:02
2997968   2017-08-24 15:23:02
2997969   2017-08-24 15:23:02
2997970   2017-08-24 15:23:02
2997971   2017-08-24 15:23:02
2997972   2017-08-24 15:23:02
2997973   2017-08-24 15:23:02
2997974   2017-08-24 15:23:02
2997975   2017-08-24 15:23:02
2997976   2017-08-24 15:23:02
2997977   2017-08-24 15:23:02
Name: start, Length: 2997978, dtype: datetime64[ns]>

In [18]:
points.delta_time.to_timestamp

<bound method Series.to_timestamp of 0           0:00:00
1           0:00:00
2           0:00:00
3           0:00:00
4           0:00:00
5           0:01:08
6           0:01:08
7           0:01:08
8           0:01:08
9           0:01:08
10          0:01:08
11          0:01:09
12          0:01:09
13          0:01:09
14          0:01:09
15          0:01:09
16          0:01:09
17          0:01:09
18          0:01:09
19          0:01:09
20          0:01:10
21          0:01:10
22          0:01:10
23          0:01:10
24          0:01:10
25          0:01:10
26          0:01:10
27          0:01:10
28          0:01:10
29          0:01:10
             ...
2997948     0:09:19
2997949     0:09:19
2997950     0:09:19
2997951     0:09:19
2997952     0:09:19
2997953     0:09:19
2997954     0:09:19
2997955     0:09:19
2997956     0:09:19
2997957     0:09:19
2997958     0:09:19
2997959     0:09:19
2997960     0:09:19
2997961     0:09:19
2997962     0:09:19
2997963     0:09:19
2997964     0:09:19
2997965     0:09:19
2997966     0:09:19
2997967     0:09:19
2997968     0:09:19
2997969     0:09:19
2997970     0:09:19
2997971     0:09:19
2997972     0:09:19
2997973     0:09:19
2997974     0:09:19
2997975     0:09:19
2997976     0:09:19
2997977     0:09:19
Name: delta_time, Length: 2997978, dtype: object>

In [43]:
tmst = pd.DataFrame()
points['sample_time'] = points.start
points['sample_time'] += pd.to_timedelta(points['delta_time'])
points.drop('start', 1)
points.drop('delta_time', 1)
points.drop('path_time', 1)